@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
:root {
    --branco: white;
    --cor-de-fundo: #000a16;
    --fundo-senha: #00244D;
    --fundo-texto: #001E40;
    --borda: #0075FF;
    --roboto: 'roboto',sans-serif;
    --roboto_mono:'roboto-mono',monospace;
}

body {
    color: var(--branco);
    background-color: var(--cor-de-fundo);
}

